header {
  display: flex;
  align-items: center;

}

.head {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.head span {
  color: mediumaquamarine;
  display: flex;
  align-items: center;

}

span {
  font-family: Verdana sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: mediumaquamarine;

}
